#menu-container {
    background-color: #fff;
    border: 1px solid #000;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}


#menu-content img {
    display: block;
    max-width: 200px; /* 調整照片的最大寬度 */
    margin: 10px auto; /* 調整照片之間的間距和居中對齊 */
}
/*
#game_canvas {
    position: absolute;
    top: 0;
    left: 0;
}
*/
#menu-content {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 2;
}
